<li class="nav-item dropdown hidden-caret">
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fas fa-robot"></i>
    </a>
    <div class="dropdown-menu quick-actions quick-actions-info animated fadeIn" style="width: 300px;">
        <div class="quick-actions-header">
            <span class="title mb-1">SEO</span>
            <span class="subtitle op-8">Для ботов и интеграций</span>
        </div>
        <div class="quick-actions-scroll scrollbar-outer">
            <div class="quick-actions-items">
                <form action="/cup/task/run" method="post" class="row m-0">
                    <button type="submit" name="task" value="Plugin\SearchOptimization\Tasks\SiteMapTask" class="col-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Сгенерировать SiteMap</span>
                        </div>
                    </button>
                    <a href="/xml/sitemap" class="col-6 p-0 btn btn-link" target="_blank">
                        <div class="quick-actions-item" style="border-color: #f1f1f1;">
                            <i class="far fa-external-link-alt"></i>
                            <span class="text">Открыть</span>
                        </div>
                    </a>

                    <button type="submit" name="task" value="Plugin\SearchOptimization\Tasks\YandexYMLTask" class="col-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Сгенерировать Yandex YML</span>
                        </div>
                    </button>
                    <a href="/xml/yml" class="col-6 p-0 btn btn-link" target="_blank">
                        <div class="quick-actions-item" style="border-color: #f1f1f1;">
                            <i class="far fa-external-link-alt"></i>
                            <span class="text">Открыть</span>
                        </div>
                    </a>

                    <button type="submit" name="task" value="Plugin\SearchOptimization\Tasks\HotlineXMLTask" class="col-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Сгенерировать Hotline XML</span>
                        </div>
                    </button>
                    <a href="/xml/htl" class="col-6 p-0 btn btn-link" target="_blank">
                        <div class="quick-actions-item" style="border-color: #f1f1f1;">
                            <i class="far fa-external-link-alt"></i>
                            <span class="text">Открыть</span>
                        </div>
                    </a>

                    <button type="submit" name="task" value="Plugin\SearchOptimization\Tasks\GMFTask" class="col-6 p-0 btn btn-link">
                        <div class="quick-actions-item">
                            <i class="fas fa-file-alt"></i>
                            <span class="text">Сгенерировать GMF</span>
                        </div>
                    </button>
                    <a href="/xml/gmf" class="col-6 p-0 btn btn-link" target="_blank">
                        <div class="quick-actions-item" style="border-color: #f1f1f1;">
                            <i class="far fa-external-link-alt"></i>
                            <span class="text">Открыть</span>
                        </div>
                    </a>
                </form>
            </div>
        </div>
    </div>
</li>
