{% extends 'layout.twig' %}

{% set title = 'News' %}

{% block head %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

{% endblock %}

{% block body %}
    <body>
    {% block bodyinner %}
        {% block page %}
            <h3>RSS Reader</h3>
        {% endblock %}
    {% endblock %}
    </body>
{% endblock %}
