<footer class="footer">
    <div class="container">
        <div class="footer__inner-mobile">


           <div class="footer__title footer__title_border">
               <a href="/catalog/vkhodnye-dveri?naznachenie-dveri%5B%5D=Двери+в+частный+дом">Входные в частный дом</a>
            </div>
            <div class="footer__title footer__title_border">
                <a href="/catalog/vkhodnye-dveri?naznachenie-dveri%5B%5D=Двери+в+квартиру">Входные в квартиру</a>
            </div>
            <div class="footer__title footer__title_border">
                <a href="/catalog/mezhkomnatnye-dveri">Межкомнатные двери</a>
            </div>

        </div>

        <div class="footer__inner-top">
            <div class="footer__nav d-flex flex-wrap">


                <div class="footer__nav-col">

                    <div class="footer__title">
                        <span>Входные двери</span>
                    </div>


                    <div class="footer__nav-categories">
                        <div class="footer__nav-category">
                            <div class="footer__nav-item">
                                <a href="/catalog/vkhodnye-dveri?naznachenie-dveri%5B%5D=Двери+в+частный+дом">в частный дом</a>
                            </div>

                        </div>
                        <div class="footer__nav-category">
                            <div class="footer__nav-item">
                                <a href="/catalog/vkhodnye-dveri?naznachenie-dveri%5B%5D=Двери+в+квартиру">в квартиру</a>
                            </div>

                        </div>

                    </div>

                    <div class="footer__title">
                        <span>Межкомнатные двери</span>
                    </div>
                    <div class="footer__nav-categories">
                        <div class="footer__nav-category">
                            <div class="footer__nav-item">
                                <a href="/catalog/mezhkomnatnye-dveri?dizajn%5B%5D=Классика">Стиль классика</a>
                            </div>
                        </div>
                        <div class="footer__nav-category">


                            <div class="footer__nav-item">
                                <a href="/catalog/mezhkomnatnye-dveri?dizajn%5B%5D=Модерн">Стиль Модерн</a>
                            </div>


                        </div>


                        <div class="footer__nav-category">
                            <div class="footer__nav-item">
                                <a href="/catalog/mezhkomnatnye-dveri?dizajn%5B%5D=Хай-тек">Стиль Хай-тек</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="footer__nav-col">




                    <div class="footer__title">
                        <span>Аксессуары</span>
                    </div>

                    <div class="footer__nav-item">
                        <a href="/catalog/furnitura">Ручки</a>
                    </div>

                </div>
                <div class="footer__nav-col">



                    <div class="footer__title">
                        <span>Полезно</span>
                    </div>

                    <div class="footer__nav-item">
                        <a href="/helpfull-info/installation/">Установка</a>
                    </div>


                    <div class="footer__nav-item">
                        <a href="/helpfull-info/care/">Уход за дверями</a>
                    </div>


                    <div class="footer__nav-item">
                        <a href="/helpfull-info/warranty/">Гарантия</a>
                    </div>
                    <div class="footer__nav-item">
                        <a href="/helpfull-info/certificates/">Сертификаты</a>
                    </div>

                </div>
                <div class="footer__nav-col">

                    <div class="footer__title">
                        <span>Компания</span>
                    </div>

                    <div class="footer__nav-item">
                        <a href="/about/">О компании</a>
                    </div>


                    <div class="footer__nav-item">
                        <a href="/catalog?tovar-po-akcii=1">По акции</a>
                    </div>
                    <div class="footer__nav-item">
                        <a href="/fordisigners/">Сотрудничество </a>
                    </div>






                </div>

            </div>
            <div class="footer__aside">
                <div class="footer__title footer__title_right">Следите за нами</div>
                <div class="footer__socials">
                    <a href="https://vk.com/garantdoorsufa" class="footer__social-link" target="_blank"
                       rel="nofollow noreferrer">
                        <svg class="icon">
                            <use xlink:href="/resource/img/symbol-sprite.svg#icon-vk"></use>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/garant_dvery/" class="footer__social-link" target="_blank"
                       rel="nofollow noreferrer">
                        <svg class="icon">
                            <use xlink:href="/resource/img/symbol-sprite.svg#icon-inst"></use>
                        </svg>
                    </a>

                </div>
                <div class="footer__title footer__title_right">Связаться с нами</div>
                <div class="footer__nav-item">

                    <p class="mb-0">Магазин Надежды, 1/1</p>
                    <a class="footer-phone-general" href="tel:+79177694879">
                        +7 (917) 769-48-79
                    </a>
                </div>

                <div class="footer__nav-item">
                    <a href="mailto:info@garantdoors-ufa.ru">info@garantdoors-ufa.ru</a>
                </div>

                <div class="footer__nav-item">
                    <a href="#"  data-toggle="modal" data-target="#order-measure2">
                        Написать письмо директору </a>
                </div>

            </div>
        </div>
        <hr>
        <div class="footer__inner-bottom">
            <div class="footer-line">
                <div class="footer__logo">
                    <a href="/" class="footer__logo-link">

                        <img src="/resource/img/favicon.png" width="100" class="rounded">
                    </a>
                </div>
                <div class="footer__phone mt-3 mb-3">
                    <a class="mobile-footer-phone-general" href="tel:+79177694879">+7 (917) 769-48-79</a><br>
                    <a href="/contact" class="mt-3">Уфа,​8 Марта, Надежды, 1/1</a>
                </div>
                <div class="footer__phone mb-3">
                    <a class="mobile-footer-phone-general" href="tel:+73472669525">+7 (347) 266-95-25</a><br>

                </div>

                <div class="footer__phone">


                <a href="#"  data-toggle="modal" data-target="#order-measure2">
                        Написать письмо<br>директору </a>

                </div>

                <div class="footer__copyright">
                    <div class="footer__copyright-line">
                          <span class="footer__separator">|</span> Все права защищены
                    </div>
                    <div class="footer__copyright-line">
                        &#169; 2020—{{ 'now'|df('Y') }}  «GARANT» — межкомнатные и выходные двери
                    </div>
                </div>
                <a href="https://u4et.ru/" class="footer__realweb" rel="nofollow" target="_blank">
                    разработка сайта: u4et.ru
                </a>
                <div class="footer__warning">
                    Не является публичной офертой
                </div>
            </div>
        </div>
    </div>
</footer>
